/*_____ ğ”…ğ”¢ğ”¤ğ”¦ğ”« footer [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
.footer {
    background-color: #515151;

    &__top {
        padding: 30px 0;
        display: flex;
        justify-content: flex-end;
        @media (max-width: $md1 + px) {
            padding: 30px 10px;
        }
        @media (max-width: $md2 + px) {
            justify-content: center;
        }
        @media (max-width: $md3 + px) {
            padding: 20px 10px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__contacts-tg {
        font-size: 15px;
        line-height: 1.25;
        color: #fff;
        margin: 0px 0px 10px 0px;
        transition: color 0.3s ease 0s;
        @media (max-width: $md3 + px) {
            font-size: 14px;
        }
        @media (max-width: $md3 + px) {
            font-size: 13px;
        }
        &:hover {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__contacts-email {
        font-size: 15px;
        line-height: 1.25;
        color: #fff;
        transition: color 0.3s ease 0s;
        &:hover {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.7);
        }
        @media (max-width: $md3 + px) {
            font-size: 14px;
        }
        @media (max-width: $md3 + px) {
            font-size: 13px;
        }
    }

    &__bottom {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        @media (max-width: $md1 + px) {
            padding: 30px 10px;
        }
        @media (max-width: $md3 + px) {
            padding: 20px 10px;
        }
    }

    &__contacts-main {
        font-size: 15px;
        line-height: 1.25;
        color: #fff;
        transition: color 0.3s ease 0s;
        &:hover {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.7);
        }
        @media (max-width: $md3 + px) {
            font-size: 14px;
        }
        @media (max-width: $md3 + px) {
            font-size: 13px;
        }
    }
}

/*_____ ğ”ˆğ”«ğ”¡ footer [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
