//Burger
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.-active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

/*_____ ğ”…ğ”¢ğ”¤ğ”¦ğ”« header [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
.header {
	position: absolute;
	z-index: 100;
	padding: 20px 0;
	width: 100%;
	@media (max-width: $md1 + px) {
		padding: 10px 0;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md4 + px) {
			justify-content: center;
		}
	}

	&__logo {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 120px 0px 0px;
		@media (max-width: $md1 + px) {
			margin: 0;
		}
	}

	&__logo-title {
		font-size: 26px;
		font-weight: 800;
		color: #fff;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		letter-spacing: 1px;
		line-height: 1.25;
		@media (max-width: $md1 + px) {
			font-size: 21px;
			letter-spacing: 0.75px;
		}
	}

	&__logo-subtitle {
		font-size: 15.8px;
		color: #fff;
		line-height: 1.25;
		margin: 0px 0px 5px 0px;
		@media (max-width: $md1 + px) {
			font-size: 12.5px;
		}
	}

	&__logo-image {
		margin: 0 auto;
		width: 200px;
		height: auto;
		@media (max-width: $md3 + px) {
			width: 160px;
		}
		@media (max-width: $md4 + px) {
			width: 180px;
		}
		img {
			max-width: 100%;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		@media (max-width: $md4 + px) {
			display: none;
		}
	}

	&__contacts-tg {
		font-size: 14px;
		line-height: 1.25;
		color: #fff;
		margin: 0px 0px 5px 0px;
		transition: color 0.3s ease 0s;
		&:hover {
			cursor: pointer;
			color: rgba(255, 255, 255, 0.7);
		}
		@media (max-width: $md1 + px) {
			font-size: 13px;
			margin: 0px 0px 2px 0px;
		}
	}

	&__contacts-email {
		font-size: 14px;
		line-height: 1.25;
		color: #fff;

		&:hover {
			cursor: pointer;
		}
		@media (max-width: $md1 + px) {
			font-size: 13px;
		}
	}
}

.menu {
	@media (max-width: $md3 + px) {
		display: none;
	}
	&__list {
		width: 240px;
		display: flex;
		justify-content: space-between;
		@media (max-width: $md1 + px) {
			width: auto;
		}
	}

	&__item {
		position: relative;
		list-style-type: none;
		font-size: 15.8px;
		line-height: 1.25;
		color: #fff;
		@media (max-width: $md1 + px) {
			padding: 0 10px;
			font-size: 14px;
		}
		&:hover,
		&:focus {
			cursor: pointer;
			&:after {
				opacity: 1;
				width: 100%;
			}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 0;
			height: 1px;
			background-color: #fff;
			opacity: 1;
			transition: all 0.3s ease 0s;
		}
	}
}

/*_____ ğ”ˆğ”«ğ”¡ header [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
